app {
  display: block;
}

.modal-open > app {
  filter: blur(5px);
}

.dateChecked {
  color: #26C4D8;
  font-weight: bold;
}

.habitName {
  font-size: 20px;
  margin-right: 20px;
  text-decoration: none;
}

.habitTemplate {
  display: flex;
  margin: 20px;
  flex-direction: row;
}

.checked {
  zoom: 1.5;
}

#loginPage {
  width: 50%;
  margin: 25%;
}

#registrationPage {
  width: 50%;
  margin: 25%;
}

#newHabit {
  width: 50%;
  margin: 30px;
}

#showLoginPage {
  display: inline-block;
}

#navbarBtn {
  background-color: #26C4D8;
  border-color: #26C4D8;
  color: white;
}

#navbarBtn:hover {
  background-color: #4BCEE0;
}

#logoutBtn {
  background-color: white;
  border-color: #ccc;
  color: #aaa;
}

#logoutBtn:hover {
  border-color: #aaa;
  color: #999;
}

.habit-border {
  padding: 20px;
  border: 1px solid #ccc;
}
