#jogging {
  background-image: url('/client/pics/jogging.jpeg');
}

#meditation {
  background-image: url('/client/pics/meditation.jpg');
}

#nutrition {
  background-image: url('/client/pics/nutrition.jpeg');
}

#reading {
  background-image: url('/client/pics/reading.jpg');
}

#sport {
  background-image: url('/client/pics/sport.jpeg');
}

#workout {
  background-image: url('/client/pics/workout.jpg');
}

#other {
  background-image: url('/client/pics/other.jpg');
  background-position: 50% 95%;
}

.modal-body {
  padding: 0;
}

.habit-name {
  color: white;
  font-size: 35px;
  padding-left: 20px;
  padding-right: 20px;
}

.habitNameContainer {
  position:absolute;
  bottom:0;
}

.rightElement {
  right: 0;
}

.choose-component {
  height: 150px;
  background-position: 50% 18%;
  background-size: 100%;
  position:relative;
}

.choose-component > .dim {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25);
  transition: background 0.25s;
}

.choose-component:hover > .dim{
  background: rgba(0, 0, 0, 0.45);
}
