<div class="login-page">
  <div class="form">

    <form class="login-form body">
      <input class="form-control" type="text" placeholder="username" #login/>
      <input class="form-control" type="password" placeholder="password" #password/>

      <div class="footer">
        <button type="button" class="btn btn-primary" (click)="onLogin(login.value, password.value)">Log in</button>
      </div>

      <p class="message">Not registered? <a routerLink="/registrationPage">Create an account</a></p>
    </form>

  </div>
</div>
