<div class="container" *ngIf="this.authService.isLoggedIN">
  <habit *ngFor="let habit of habits"
  [habit]="habit"
  (deleted)="onHabitDeleted(habit)"
  @flyInOut></habit>
  <div class="add-new-habit-button" (click)="onNewHabit()">Add a new habit</div>
</div>

<div *ngIf="!this.authService.isLoggedIN">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">You can achieve anything</h1>
      <p class="lead">Habitude is an amazing tool to keep all of your habits in one place and stay motivated</p>
      <a class="btn btn-primary btn-lg" href="https://play.google.com/store/apps/details?id=com.github.anniepank.hability" target="_blank">Get it on Play Store</a>
    </div>
  </div>

  <section class="mb-3">
    <div class="text-center">
      <h1 class="mb-3">HABITUDE</h1>
      <h2 id="subtitle" class="mb-5">Best Habit Tracker</h2>
    </div>

    <div class="container">
      <div class="row">

        <div class="col d-flex flex-column justify-content-between advert">
          <div class="d-flex mb-3" *ngFor="let x of leftInfo">
            <i class="fa fa-fw fa-3x {{x.icon}} mr-3"></i>
            <div>
              <h5 class="font-weight-bold">{{x.title}}</h5>
              <p>{{x.text}}</p>
            </div>
          </div>
        </div>

        <div class="col text-center">
          <img class="mb-3"
            src="/client/pics/nexus-6.png" />
          <a class="btn btn-primary btn-lg" href="https://play.google.com/store/apps/details?id=com.github.anniepank.hability" target="_blank">Get it on Play Store</a>
        </div>

        <div class="col d-flex flex-column justify-content-between advert">
          <div class="d-flex mb-3" *ngFor="let x of rightInfo">
            <i class="fa fa-fw fa-3x {{x.icon}} mr-3"></i>
            <div>
              <h5 class="font-weight-bold">{{x.title}}</h5>
              <p>{{x.text}}</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
