<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">
        <img src="/client/pics/ic.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Habitude
      </a>
    </div>
    <div class="navbar-form pull-right" >
      <!--button class="btn btn-primary" id="navbarBtn" routerLink="/loginPage" *ngIf="!authService.isLoggedIN">LOG IN</button-->
      <button class="btn btn-primary" id="logoutBtn" (click)="onLogout()" *ngIf="authService.isLoggedIN">LOG OUT</button>
      <a href="/api/google-login" class="btn btn-primary" *ngIf="!authService.isLoggedIN">LOG IN WITH GOOGLE</a>
      <!--button class="btn btn-primary" id="navbarBtn" routerLink="/registrationPage" *ngIf="!authService.isLoggedIN">REGISTRATION</button-->
    </div>
  </div>
</nav>
