<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-form pull-right" >
      <button class="btn btn-default" routerLink="/loginPage" *ngIf="!authService.isLoggedIN">LOG IN</button>
      <button class="btn btn-default" (click)="onLogout()" *ngIf="authService.isLoggedIN">LOG OUT</button>
      <button class="btn btn-default" routerLink="/registrationPage">REGISTRATION</button>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">Habitude</a>
    </div>
  </div>
</nav>
