<div class=""  id="registrationPage">
  <div class="" >
    <div class="content">
      <div class="header">
        <button type="button" id="closeLogIn" class="close"><span>&times;</span></button>
        <h4 class="title">WELCOME!</h4>
      </div>
      <div class="body">
        <input class="form-control login" placeholder="Login" type="text" ng-model="login" />
        <input class="form-control password" placeholder="Password" type="password" ng-model="password"/>
      </div>
      <div class="footer">
        <button type="button" class="btn btn-primary" id="registrationButton" ng-click="$ctrl.register(login, password)">Registration</button>
      </div>
    </div>
  </div>
</div>
