<div class="login-page">
  <div class="form">

    <form class="register-form">
      <input class="form-control login" type="text" placeholder="login" #login/>
      <input class="form-control password" type="password" placeholder="password" #password/>

      <div class="footer">
        <button type="button" class="btn btn-primary" (click)="onRegister(login.value, password.value)">create</button>
      </div>

      <p class="message">Already registered? <a href="/loginPage">Sign In</a></p>
    </form>

  </div>
</div>
