<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-form pull-right" >
      <button class="btn btn-default" ng-show="!$ctrl.authentication.loggedIn" ui-sref="login">LOG IN</button>
      <button class="btn btn-default" ng-show="$ctrl.authentication.loggedIn" ng-click="$ctrl.logout()" ui-sref="main">LOG OUT</button>
      <button id="showRegistrationPage" class="btn btn-default" ui-sref="registration">REGISTRATION</button>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="main">Habitude</a>
    </div>
  </div>
</nav>
